<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B096D331AFC63700004393C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B096D4F1AFC63710004393C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B096D631AFC63890004393C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
